<app-header></app-header>
<main>
  <section id="mainSection">
    <section id="sectionPromotionalImage">
      <img src="https://assets.smartfit.com.br/attachments/2ce95a07bf276e9040c8570a7e93ad43c2445655/store/6d1c1fdfb1a2e33bb85c8edb20049d82ec00decab07a09484830fe5206b0/banner_desktop"
           alt="img-promocion"  id="promotionalImage">
    </section>
    <section id="sectionBackgroundImage">
      <div>
        <h2> Encuentra un gimnasio
          <span>
        cerca de ti
        </span>
        </h2>
      </div>
      <div id="backImage">
        <button class="btn btn-light bi bi-search" id="backgroundImageButton">
          Encuentra tu gimansio
        </button>
      </div>
    </section>
  </section>
</main>
<app-footer></app-footer>
