#searchingContainer{
font-weight: bold;
margin: 30px 0 30px 100px;
}

#searchingBar{
width: 90%;
}

#wrapperContainer{
    display: flex;
}

#filtersContainer{
display: inline-flex;
width: 20%;
flex-direction: column;
margin-left: 50px;
}

.checkboxItems {
    display: flex;
    align-items: center;
}
.checkboxItems p {
    margin: 0;
    padding-left: 10px;
}

#informationContainer{
display: inline-flex;
width: 100%;
flex-wrap: wrap;
}

.card{
    margin: 10px;
}

#prueba{
    margin: 20px;
}
