<app-header></app-header>
<main>
  <div id="searchingContainer">
    <h1>Entonces, ¿dónde quieres entrenar?</h1>
    <input type="search" placeholder="Ingresa tu colonia, ciudad o código postal" id="searchingBar">
  </div>
  <div id="wrapperContainer">
    <aside id="filtersContainer">
      <h1>Añadir filtros</h1>
      <h4>Estructuras</h4>
      <label class="checkboxItems">
        <input type="checkbox" id="checkboxParking">
        <p>Estacionamiento</p>
      </label>
      <label class="checkboxItems">
        <input type="checkbox" id="checkboxBicycle">
        <p>Bicicletero</p>
      </label>
      <label class="checkboxItems">
        <input type="checkbox" id="checkboxElevator">
        <p>Elevator</p>
      </label>
      <label class="checkboxItems">
        <input type="checkbox" id="checkboxEnergy">
        <p>Energy</p>
      </label>
      <label class="checkboxItems">
        <input type="checkbox" id="checkboxNutri">
        <p>Nutri</p>
      </label>
      <h4>Clases</h4>
      <label class="checkboxItems">
        <input type="checkbox" id="checkboxZumba">
        <p>Zumba</p>
      </label>
      <label class="checkboxItems">
        <input type="checkbox" id="checkboxAbdGlu">
        <p>Abdomen y Glúteo</p>
      </label>
    </aside>
    <section id="informationContainer">
      <!-- Info Gyms -->
      <!-- @if(this.arrayComplete){-->
        @for (unit of this.units; track unit.name) {
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="foto-descriptiva">
        <div class="card-body">
          <h5 class="card-title">{{unit.name}}</h5>
          <p class="card-text">{{this.getFullAddress(unit.idTrainingUnitAddress)}}</p>
          <a class="btn btn-primary" routerLink="/test" (click)="showDetailsUnit(unit)">Botón de Inscripción</a>
        </div>
      </div>
      }
      <!-- Info Gyms -->
    </section>
  </div>
</main>
<app-footer></app-footer>
