footer h2{
color: white;
}

#mainFooter{
background-color: black;
}

.lastSection{
width: 100%;
text-align: center;
}

.logoSFGrey{
width: 200px;
height: 200px;
}

.whiteLine{
  border-top:solid 1px white;
  width:90%;
  margin: 30px auto;
}

.linkFooter{
  color: white;
  text-decoration: none;
}

.iconFooter{
color: white;
font-size: 2rem;
padding: 0px 10px 0px 10px;
}

#aboutGym{
display: flex;
justify-content: space-evenly;
}

.divList{
  text-align: left;
}

.aboutList{
list-style-type: none;
margin: 0;
padding: 0;
}

.conditions{
color: white;
text-align: left;
padding: 0 6% 0 5%;
}

#conditionsList{
padding: 0 0 0 1%;
}

#boldYear{
font-weight: bold;
}

.whiteLineLast{
  border-top:solid 1px white;
  width:90%;
  height:150px;
  margin: auto;
}
