<header>
  <nav class="navbar bg-body-tertiary" style="box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, .1);">
    <div class="container-fluid" style="display: flex; justify-content: right;"> <!-- Div de la barra de nav superior-->
      <img src="https://assets3.smartfit.com.br/assets/new-home-v4-assets/logo-dark.svg" alt="logo"
           style="width: 170px; height: 65px; margin: 0px auto 0px 45px;">
      <button class="btn btn-light" style="border-radius: 30px; padding: 7px 20px 7px 20px;
        margin: 0px 10px; font-weight: bold;">
        Gimnasios
      </button>
      <button class="btn btn-light" style="border-radius: 30px; padding: 7px 20px 7px 20px;
         margin: 0px 10px; font-weight: bold;">
        Tu espacio
      </button>
      <button class="btn btn-danger" style="border-radius: 30px; padding: 7px 20px 7px 20px;
         margin: 0px 10px; font-weight: bold;" >
        ¡Inscríbete ya!
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="float: right; margin: 5px">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
           style="border-radius: 30px 0px 0px 30px">
        <div class="offcanvas-header">
          <img src="https://assets3.smartfit.com.br/assets/new-home-v4-assets/logo-dark.svg" alt="logo"
               style="width: 170px; height: 65px; margin: 20px 0px 0px 20px;">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="padding: 0px 16px">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <button class="btn btn-outline-dark" style="border-radius: 30px; padding: 7px 60px">
                  ¡Inscríbete ya!
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gimnasios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Planes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Conoce Smart Fit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sustentabilidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tu espacio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contáctanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="bi bi-chat-fill" style="font-size: 1.2rem;"></i>
                Preguntas Frecuentes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
