<app-login-header></app-login-header>
<main>
  <section id="backgroundSection">
    <div id="boxLogin">
      <h6>Ingrese al Espacio del Cliente</h6>
      <div id="inputEmail">
      <p>CORREO ELECTRÓNICO</p>
      <input type="email">
      </div>
      <div id="inputPassword">
      <p>CONTRASEÑA</p>
      <input type="password">
      <a href="#" id="changePassLink">Olvidé mi contraseña</a>
      </div>
      <div id="containerButtons">
      <a class="btn btn-warning buttonL">
          Tu espacio
      </a>
      <a class="btn btn-outline-dark buttonL">
          Tu espacio
      </a>
      </div>
    </div>
  </section>
</main>
<app-login-footer></app-login-footer>
