<footer id="mainFooter">
  <section class="lastSection">
    <div>
      <img src="https://smart-site-assets-prd-0.s3.amazonaws.com/assets/new-home-v4-assets/logo-white.svg"
           alt="logo" class="logoSFGrey">
    </div>
    <div class="whiteLine"></div>
    <h2>Síguenos</h2>
    <address>
      <a href="" class="linkFooter">
        <i class="bi bi-facebook iconFooter"></i>
      </a>
      <a href="" class="linkFooter">
        <i class="bi bi-instagram iconFooter"></i>
      </a>
      <a href="" class="linkFooter">
        <i class="bi bi-youtube iconFooter"></i>
      </a>
      <a href="" class="linkFooter">
        <i class="bi bi-twitter iconFooter"></i>
      </a>
    </address>
    <div class="whiteLine"></div>
    <div id="aboutGym">
      <div class="divList">
        <h2>Smart Fit</h2>
        <ul class="aboutList">
          <li><a href="" class="linkFooter">Quienes somos</a></li>
          <li><a href="" class="linkFooter">Habla con nosotros</a></li>
          <li><a href="" class="linkFooter">Aviso de privacidad</a></li>
        </ul>
      </div>
      <div class="divList">
        <h2>Planes</h2>
        <ul class="aboutList">
          <li><a href="" class="linkFooter">Planes</a></li>
          <li><a href="" class="linkFooter">Documentos</a></li>
        </ul>
      </div>
      <div class="divList">
        <h2>Nuestra Compañia</h2>
        <ul class="aboutList">
          <li><a href="" class="linkFooter">Quiero ser franquiciatario</a></li>
          <li><a href="" class="linkFooter">Promociona tu marca</a></li>
          <li><a href="" class="linkFooter">Indica un local</a></li>
          <li><a href="" class="linkFooter">Trabaja con nosotros</a></li>
        </ul>
      </div>
    </div>
    <div class="whiteLine"></div>
    <div class="conditions">
      <p>TÉRMINOS Y CONDICIONES GENERALES PARA PROMOCIONES</p>
      <p>COMPRAS EN PÁGINA WEB.</p>
      <ul id="conditionsList">
        <li><p>Si te inscribes del día 5 al 14 tu pago se realizará el 1ro del próximo mes.</p></li>
        <li><p>Si te inscribes del día 15 al 24 tu pago se realizará el día 10 del próximo mes.</p></li>
        <li><p>Si te inscribes del día 25 al 4 tu pago se realizará el día 20 del próximo mes.</p></li>
        <li><p>Plan BLACK. Acceso hasta 5 invitados a entrenar por mes.</p></li>
        <li><p>Las promociones no son transferibles a terceros.</p></li>
        <li><p>Las promociones no son acumulables.</p></li>
        <li><p>Solo aplican para usuarios sin adeudos previos.</p></li>
        <li><p>No podrán registrarse por internet personas menores de 18 años, quienes por normatividad y capacidad
          legal no lo tienen permitido. Acércate a la recepción de tu Smart Fit favorito para conocer más opciones.</p></li>
        <li><p>En caso de proporcionar información errónea o incorrecta para acceder a una promoción la misma será cancelada.</p></li>
        <li><p>Las promociones aplican solo para territorio mexicano.</p></li>
        <li><p>La aceptación del Usuario al participar en cualquiera de las promociones, implica el conocimiento y su
          consentimiento expreso y sin reservas de los Términos y Condiciones específicos para dicha promoción.</p></li>
        <li><p>En ningún caso las promociones serán sustituidas por dinero en efectivo.</p></li>
        <li><p>En caso de resultar necesario, y/o a discreción de SMART FIT se reserva el derecho de ampliar y/o
          aclarar el alcance de los presentes Términos y Condiciones, y/o cualquiera de las promociones, los
          cuales serán comunicados a través de las redes sociales y del portal de la promoción.</p></li>
      </ul>
      <p id="boldYear">*2024</p>
    </div>
    <div class="whiteLineLast"></div>
  </section>
</footer>
