<app-header></app-header>
<section style="padding-top: 13px;">
  <section style="width: 100%;">
    <img src="https://assets.smartfit.com.br/attachments/2ce95a07bf276e9040c8570a7e93ad43c2445655/store/6d1c1fdfb1a2e33bb85c8edb20049d82ec00decab07a09484830fe5206b0/banner_desktop"
         alt="img-promocion"  style="display: block; margin: auto; border-radius: 30px; width: 99%">
  </section>
  /**/
  <section style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div>
      <h2 style="text-align: center">Encuentra un gimnasio <span style="color: #ffad12; font-weight: bold;">
        cerca de ti</span></h2>
    </div>
    <div id="backImage">
      <button class="btn btn-light bi bi-search" style="border-radius: 30px; padding: 15px 120px 15px 120px;font-weight: bold;" >
        Encuentra tu gimansio
      </button>
    </div>
  </section>
  /**/
</section>
  <app-footer></app-footer>
