#backImage{
display: flex;
justify-content: center;
align-items: center;
border-radius: 30px;
width: 99%;
padding: 220px;
background-image: url('https://pbs.twimg.com/profile_banners/3146251856/1558635877/1500x500');
background-size: cover;
background-position: center;
}
