#mainFooter{
width: 100%;
}

.lastSection{
background-color: black;
width: 100%;
text-align: center;
}

.logoSFGrey{
width: 150px;
height: 150px;
}

.whiteLine{
background-color: white;
width: 90%;
height: 1%;
}

.linkFooter{
  color: white;
  text-decoration: none;
}
