<header>
  <nav class="navbar bg-body-tertiary" id="navigationBar">
    <div class="container-fluid" id="contentNB"> <!-- Div de la barra de nav superior-->
      <a class="navbar-brand" href="#" id="logo">
        <img src="https://assets3.smartfit.com.br/assets/new-home-v4-assets/logo-dark.svg" alt="logo">
      </a>
      @if (this.isTheRouteCorrect()) {
      <a class="btn btn-light buttonNB" routerLink="/gimnasios">
        Gimnasios
      </a>
      <a class="btn btn-light buttonNB" routerLink="/login">
        Tu espacio
      </a>
      <a class="btn btn-danger buttonNB" routerLink="/gimnasios">
        ¡Inscríbete ya!
      </a>
    }
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar" aria-label="Toggle navigation" id="butttonNavigationBar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <img src="https://assets3.smartfit.com.br/assets/new-home-v4-assets/logo-dark.svg" alt="logo"
               id="navigationBarLogo">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <button class="btn btn-outline-dark" id="buttonNavigationBar">
                  ¡Inscríbete ya!
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gimnasios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Planes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Conoce Smart Fit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sustentabilidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tu espacio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contáctanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="bi bi-chat-fill" id="iconQuestions"></i>
                Preguntas Frecuentes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
